body
{
	background: url("https://th.bing.com/th/id/OIP.vV8xj9sq8dIO1Hm2bbasKgHaEo?w=289&h=181&c=7&r=0&o=5&dpr=1.3&pid=1.7");
	background-size:cover ;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
